<div id="gold" class="w100 float-l">
  <div class="w33 float-l option">
          <div class="label">
              Gold
          </div>
      <button mat-button class="bigButton icon-up-open-big" (click)="gold = gold + 1"></button>
      <mat-card><div class="value">{{gold}}</div></mat-card>
      <button mat-button class="bigButton icon-down-open-big" (click)="gold = gold - 1"></button>
  </div>
  <div class="w33 float-l option">
          <div class="label">
              Silber
          </div>
      <button mat-button class="bigButton icon-up-open-big" (click)="silver = silver + 1"></button>
      <mat-card><div class="value">{{silver}}</div></mat-card>
      <button mat-button class="bigButton icon-down-open-big" (click)="silver = silver - 1"></button>
  </div>
  <div class="w33 float-l option">
          <div class="label">
              Kupfer
          </div>
      <button mat-button class="bigButton icon-up-open-big" (click)="copper = copper + 1"></button>
      <mat-card><div class="value">{{copper}}</div></mat-card>
      <button mat-button class="bigButton icon-down-open-big" (click)="copper =copper - 1"></button>
  </div>

