<h2 mat-dialog-title>Pleite!</h2>
<div mat-dialog-content>
    <img [src]="fullPathname" style="width:100%;">
    <button mat-raised-button color="warn" (click)="onOkClick()" tabindex="-1">Ok</button>
</div>