<mat-toolbar>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Pen & Paper Helper</mat-toolbar>
<mat-sidenav-container style="  height: calc(100% - 56px);">
  <mat-sidenav #sidenav mode="over" opened="false">
    <mat-list>
      <mat-list-item>
        <a mat-button href="/gold">Gold</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button href="/life">Leben</a>
      </mat-list-item>
      <mat-list-item>
        Spielleiter
      </mat-list-item>
      <mat-list-item>
        <a mat-button href="/moblife">NPC Leben</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <router-outlet></router-outlet>


</mat-sidenav-container>

<footer>Made with love -
  <a href="https://bitbucket.org/zenon2002/pnp-helper" target="_blank">contribute</a> - Version 0.2</footer>