/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?176898');
    src: url('font/fontello.eot?176898#iefix') format('embedded-opentype'),
         url('font/fontello.woff2?176898') format('woff2'),
         url('font/fontello.woff?176898') format('woff'),
         url('font/fontello.ttf?176898') format('truetype'),
         url('font/fontello.svg?176898#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?176898#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-down-open-big:before { content: '\e800'; } /* '' */
  .icon-up-open-big:before { content: '\e801'; } /* '' */

  footer {
      position: fixed;
      width: 100%;
      bottom: 0px;
      z-index: 1000;
      background-color: #f5f5f5;
      padding: 4px;
      text-align: center;
  }

  .option {
    padding: 5px;
}

.w33 {
  display: block;
  width: 33%;
  box-sizing: border-box;
}

.w16 {
  display: block;
  width: 16%;
  box-sizing: border-box;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.bigButton {
    width : 100%;
    height: 33%;
    display: block;
    font-size: 200%;
}

.value {
    font-size: 500%;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
}
.label {
    font-size: 150%;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
}

.w100 {
    width: 100%;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;;
}